.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .button_text_container{
  width: 200px;
  height: max-content;
}

.container .button_text_container .button_container{
  position: relative;
  height: 50px;
  width: 100%;
}

.container .button_text_container .button_container .btn{
  cursor: pointer;
  height: 100%;
  width: 100%;;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.container .button_text_container .text_container{
  position: relative;
  width: 100%;
}